/* Portfolio page */

/* Portfolio header*/

.header-border {
border-bottom: 1px solid #ECECEC;;
}

.site-nav__link--current {
color: var(--accent-color);
}

/* portfilio main page */

/* Porfolio product filters */

.button__secondary {
display: inline-block;
padding-right: 22px;
padding-left: 22px;
height: 38px;

font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;

color: var(--primary-text-color);
background-color: var(--secondary-bg-color);
}

.button__secondary:hover,
.button__secondary:focus {
color: var(--primary-white-color);
background-color: var(--accent-color);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter {
margin-bottom: 50px;
}

.filter__item:not(:last-child) {
margin-right: 8px;
}

.filter {
display: flex;
justify-content: center;

margin-right: auto;
margin-left: auto;
}

/* Portfolio product list */

.product {
display: flex;
flex-wrap: wrap;
align-items: center;
margin-right: auto;
margin-left: auto;
}

.product__item {
/* width: 370px; */
width: calc((100% - (30px * 2)) / 3);
margin-right: 30px;
margin-bottom: 30px;

background: var(--primary-white-color);
border: 1px solid var(--portfolio-item-bg);
border-radius: 5px;
}

.product__item:nth-child(3n) {
margin-right: 0;
}

.product__item:nth-last-child(-n+3) {
margin-bottom: 0;
}

.product__content {
display: inline-block;
padding: 20px 24px;
}

.product__name {
margin-top: 0;
margin-bottom: 4px;

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--primary-text-color);
}

.product__desc {
margin: 0;
font-size: 16px;
line-height: 1.87;

color: var(--secondary-text-color);
}

/* .product__info {
font-size: 18px;
line-height: 1.56;

color: var(--primary-white-color);
background-color: var(--accent-color);
} */
